parameters:
    level: 8
    paths:
        - CaveAVin
        - tests
        - bootstrap.php
        - container.php
        - router.php
        - ../public/api/index.php
        - ../docker/auth-simule/index.php
